@model TedsMontanaRestaurantModel.Customer

<form method="post">
    <h2>Yeni Müşteri Oluştur</h2>
    <div class="row">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="row my-2">
        <div class="col-6"><button type="submit" class="btn btn-primary">Kaydet</button></div>
        <div class="col-6"><a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Kategori Listesime Dön</a></div>


    </div>
</form>